body {
  scroll-behavior: smooth;
}

header img {
  max-width: 200px;
}

#portfolio img {
  margin: 15px 0;
  border-radius: 5px;
  transition: transform 0.3s;
}

#portfolio img:hover {
  transform: scale(1.05);
}
